[Unit]
Description=Media controller

[Service]
User=system
Group=system
SmackProcessLabel=mediacontroller
ExecStart=/usr/bin/mediacontroller
Type=simple

[Install]
WantedBy=multi-user.target
