[Unit]
Description=Media controller

[Service]
User=multimedia_fw
Group=multimedia_fw
SmackProcessLabel=System
ExecStart=/usr/bin/mediacontroller
Type=simple

[Install]
Also=mediacontroller.socket
