[Unit]
Description=MediaController Service socket

[Socket]
SocketUser=system
SocketGroup=system
ListenStream=/var/run/media-controller/media_ipc_controller
Service=mediacontroller.service

[Install]
WantedBy=sockets.target
