[Unit]
Description=MediaController Service socket

[Socket]
SocketOwner=multimedia_fw
SocketGroup=multimedia_fw
ListenStream=/run/.mediacontroller.sock
Service=mediacontroller.service

[Install]
WantedBy=sockets.target
