[Unit]
Description=Media controller

[Service]
Owner=multimedia_fw
Group=multimedia_fw
ExecStart=/usr/bin/mediacontroller
Type=simple

[Install]
Also=mediacontroller.socket
